*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html {
    height: 100%;
    background-color: #0d1a2d;
}

.bodies{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

img{
    border-radius: 10px;
    position: relative;
}

.card{
    margin: 1;
    display: flex;
    flex-direction: column;
    background-color: #15273f;
    height:440px;
    width: 270px;
    border: 20px solid #15273f ;
    justify-content:space-around;
    align-items: left;
    border-radius: 10px;
    font-size: 10px;
    
}

.card .first{
    line-height:50px;
}

.card h1{
    color: white
}

.card h2{
    color: #5f7897;

}
.changing h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}



.changing{
    display: flex;
    justify-content: space-between;
    width: 100%
}

.card .line{
    border:1px solid #5f7897;
    margin-bottom: 9px;
    
}

.card .creator{
    align-items:center ;
    display: flex;
    
    margin-left: 4%;;
    color:#5f7897
}

