*{
    padding: 0px;
    margin: 0px;
}
body, html {
    height: 100%;
    background-color: #0d1a2d;
}

.bodies{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

img{
    border-radius: 10px;
    position: relative;
}

.card{
    margin: 1;
    display: flex;
    flex-direction: column;
    background-color: #15273f;
    height:420px;
    width: 300px;
    border: 20px solid #15273f ;
    justify-content:space-around;
    align-items: left;
    border-radius: 10px;
    
}

.card h1{
    color: white
}

.card h2{
    color: #5f7897;

}



.changing{
    display: flex;
    justify-content: space-between;
    width: 90%

    
}